:host {
  height: 100%;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  background-color: var(--color-basic-100);
  border-radius: var(--radius-large);
}

.prospection-table {
  width: 400px;
  max-width: 400px;

  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
}