<div class="ui-cell-content">
  @if(editing()){
    <ng-container *ngTemplateOutlet="edit"></ng-container>
  } @else {
    <ui-label (onClick)="onclick()" [color]="color()" [loading]="loading()" [title]="cell()?.title" [icon]="cell()?.icon"></ui-label>
  }
</div>

<ng-template #edit>
  @if(cell()?.icon){
    <ui-icon-2 [icon]="cell()?.icon"></ui-icon-2>
  }
  <div [style.width]="inputWidth()+ 'px'" [style.margin]="'0 -12px'">
    <input style="width:100%;" (blur)="endEdit()" (keyup.enter)="endEdit()" type="number" [value]="cell()?.title?.label">
  </div>
</ng-template>
