
@if(prospection().seller){
<div nz-dropdown [nzDropdownMenu]="sellersDropDown" [nzTrigger]="'click'"  [nzOverlayClassName]="'customContainer'" class="seller-name clickable">{{prospection().seller?.name}}</div>
}@else if (sellers().length){
<div class="empty-field"  [nzTrigger]="'click'" nz-dropdown [nzDropdownMenu]="sellersDropDown">+</div>
}@else{
<div class="empty-field create" (click)="create()">+</div>
}
<nz-dropdown-menu #sellersDropDown="nzDropdownMenu">
  <ul class="sellers" nz-menu nzSelectable>
    @for(seller of sellers(); track seller){
    <li nz-menu-item (click)="setSeller(seller)">
      <div class="seller-item">
      <div>{{seller.name}}</div>
        <div class="delete" nz-icon nzType="delete" (click)="removeSeller(seller)"></div>
      </div>
    </li>
    }
  </ul>
</nz-dropdown-menu>
