@let columns = nzColumns();
<nz-table #table [nzData]="nzRows()">
  <thead>
    <tr>
      @for(column of columns; track column.key; let columnI = $index) {
        @if(column.sort){
          <th [nzSortFn]="column.sort.fn" [nzSortPriority]="column.sort.priority" [nzColumnKey]="column.key">{{ column.label }}</th>
        }@else {
          <th>{{ column.label }}</th>
        }
      }
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let row of table.data; let rowI = index">
    <tr>
      <ng-container *ngFor="let cell of row; let colI = index">
        <td>

          @if(columns[colI].dropDownItems){
            @if(isNestedDropdown(columns[colI].dropDownItems)){
              <nz-ux-cell-nested-dropdown [isOnEditMode]="isCellOnEditMode(colI, rowI)"
              (startEdit)="startEdit(colI, rowI)" (edit)="edit($event, rowI, colI )"
              (stopEdit)="stopEdit()" [list]="columns[colI].dropDownItems??[]" [value]="cell"></nz-ux-cell-nested-dropdown>
            }@else {
              <ng-container *ngTemplateOutlet="dropdown"></ng-container>
            }
          }@else if(columns[colI].editable){
            @if(typeof cell === 'string'){
              <ng-container *ngTemplateOutlet="editableString"></ng-container>
            }@else if(typeof cell === 'number'){
              <ng-container *ngTemplateOutlet="editableNumber"></ng-container>
            }@else {
              {{cell}}
            }
          }@else if(isUxItem(cell)){
            <nz-ux-cell-item [item]="cell"></nz-ux-cell-item>
          }@else {
            {{cell}}
          }

          <ng-template #dropdown>
            <nz-ux-cell-dropdown
              [value]="cell"
              [list]="columns[colI].dropDownItems??[]"
              [isOnEditMode]="isCellOnEditMode(colI, rowI)"
              (startEdit)="startEdit(colI, rowI)" (edit)="edit($event, rowI, colI )"
              (stopEdit)="stopEdit()">
            </nz-ux-cell-dropdown>
          </ng-template>

          <ng-template #editableString>
            <nz-ux-cell-editable-string
              [value]="cell"
              [isOnEditMode]="isCellOnEditMode(colI, rowI)"
              (startEdit)="startEdit(colI, rowI)" (edit)="edit($event, rowI, colI )"
              (stopEdit)="stopEdit()">
            </nz-ux-cell-editable-string>
          </ng-template>

          <ng-template #editableNumber>
              <nz-ux-cell-editable-number
                [value]="cell"
                [isOnEditMode]="isCellOnEditMode(colI, rowI)"
                (startEdit)="startEdit(colI, rowI)" (edit)="edit($event, rowI, colI )"
                (stopEdit)="stopEdit()">
              </nz-ux-cell-editable-number>
          </ng-template>

      </td>
      </ng-container>
    </tr>
    </ng-container>
  </tbody>
</nz-table>
