<nz-table #table [nzData]="nzRows()">
  <thead>
    <tr>
      @for(column of nzColumns(); track column.key; let columnI = $index) {
        @if(column.sort){
          <th [nzSortFn]="column.sort.fn" [nzSortPriority]="column.sort.priority" [nzColumnKey]="column.key">{{ column.label }}</th>
        }@else {
          <th>{{ column.label }}</th>
        }
      }
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let row of table.data; let rowI = index">
    <tr>
      <ng-container *ngFor="let cell of row; let colI = index">
        <td>

          @if(nzColumns()[colI].dropDownItems){
            <nz-ux-cell-dropdown
              [value]="cell"
              [list]="columns()[colI].dropDownItems??[]"
              [isOnEditMode]="isCellOnEditMode(colI, rowI)"
              (startEdit)="startEdit(colI, rowI)" (edit)="edit($event, rowI, colI )"
              (stopEdit)="stopEdit()">
            </nz-ux-cell-dropdown>

          }@else if(nzColumns()[colI].editable){

            @if(typeof cell === 'string'){
              <nz-ux-cell-editable-string
                [value]="cell"
                [isOnEditMode]="isCellOnEditMode(colI, rowI)"
                (startEdit)="startEdit(colI, rowI)" (edit)="edit($event, rowI, colI )"
                (stopEdit)="stopEdit()">
              </nz-ux-cell-editable-string>

            }@else if(typeof cell === 'number'){
              <nz-ux-cell-editable-number
                [value]="cell"
                [isOnEditMode]="isCellOnEditMode(colI, rowI)"
                (startEdit)="startEdit(colI, rowI)" (edit)="edit($event, rowI, colI )"
                (stopEdit)="stopEdit()">
              </nz-ux-cell-editable-number>

            }@else {
              {{cell}}
            }
          }@else {
            {{cell}}
          }

      </td>
      </ng-container>
    </tr>
    </ng-container>
  </tbody>
</nz-table>
