/* You can add global styles to this file, and also import other style files */
@import "ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/ng-zorro-antd.variable.css";


.editable-cell-number {
  width: 100px;

  input {
    width: 70px !important;
    // max-width: 15px !important;
  }
}

.form-group-popup{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.select{
  min-width: 166px;
}
.footer{
  margin: 20px;
}
