/* You can add global styles to this file, and also import other style files */
@import "ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/ng-zorro-antd.variable.css";

html {

  --ant-success-color: green;
  --ant-success-color-deprecated-bg: lightgreen;
}

.editable-cell-number {
  width: 100px;

  input {
    width: 70px !important;
    // max-width: 15px !important;
  }
}

.form-group-popup {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.select {
  min-width: 166px;
}

.footer {
  margin: 20px;
}

.delete {
  color: var(--ant-error-color) !important;
}

.center-field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.empty-field {
  background-color: var(--ant-primary-2);
  border-radius: 15px;
  border: 1px solid var(--ant-primary-3);
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  color: var(--ant-primary-7)
}

.italic {
  font-style: italic;
}

.signature-container {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
}
