<form data-cy="create-estate-form" [formGroup]="formGroup" class="form-group-popup">

  <label for="name">Adresse</label>
  <input data-cy="create-estate-street" type="text" class="form-control" formControlName="street">

  <label for="name">Ville</label>
  <input data-cy="create-estate-city" type="text" class="form-control" formControlName="city">

  <label for="name">Code Postal</label>
  <input data-cy="create-estate-zip" type="text" class="form-control" formControlName="zip">

  <label for="name">Lot</label>
  <input data-cy="create-estate-plot" type="text" class="form-control" formControlName="plot">

  <label for="owner">Propriétaire</label>
  <nz-select class="select" formControlName="owner" nzPlaceHolder="Propriétaire">
    @for (owner of owners(); track owner){
    <nz-option [nzValue]="owner.id" [nzLabel]="owner.name"></nz-option>
    }
  </nz-select>

</form>
<div class="footer">
  <ux-button [cySelector]="'create-estate-submit'" [text]="'créer'" [type]="'primary'" [disabled]="formGroup.invalid" (click)="create()"></ux-button>
</div>
