@if(formGroup){
  <form [formGroup]="formGroup" class="form-group-popup">

    <ng-container *ngFor="let field of fieldsData">
      @if(field.dropdownItems && field.dropdownItems.length){
        <label for="name" [class.mandatory]="field.required">{{field.label}}</label>
        <ui-dropdown [list]="field.dropdownItems" [formControlName]="field.key"></ui-dropdown>
      }@else if(field.type === 'signature') {
        <label for="name" [class.mandatory]="field.required">{{field.label}}</label>
        <signature-pad [formControlName]="field.key"></signature-pad>
      }@else {
        <label for="name" [class.mandatory]="field.required">{{field.label}}</label>
        <input [type]="field.type" class="form-control" [formControlName]="field.key">
      }
    </ng-container>

  </form>
  <div class="footer">
    <ui-button [text]="'créer'" [type]="'primary'" [disabled]="formGroup.invalid" (click)="create()"></ui-button>
    @if(showCloseButton){
      <ui-button [text]="'fermer'" [type]="'danger'" (click)="close()"></ui-button>
    }
  </div>
}

