@font-face {
  font-family: 'primary';
  src: url('../assets/fonts/roboto_thin.ttf') format('truetype');
}

@font-face {
  font-family: 'primary-thin-Italic';
  src: url('../assets/fonts/roboto_thin-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'primary';
  src: url('../assets/fonts/roboto_medium.ttf') format('truetype');
}

@font-face {
  font-family: 'primary-italic';
  src: url('../assets/fonts/roboto_medium-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'primary-bold';
  src: url('../assets/fonts/roboto_bold.ttf') format('truetype');
}

@font-face {
  font-family: 'primary-bold-italic';
  src: url('../assets/fonts/roboto_bold-italic.ttf') format('truetype');
}