:host{
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 60px;
}


.header-menu{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo{
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 10px;
  color: var(--ant-primary-color);
  opacity: 50%;
}

.navigation{
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.right-menu{
  float: 1;
  padding: 10px;
}

.user-avatar{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--ant-primary-color);
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: var(--ant-primary-color);
    padding: 0px;
    margin: 0px;
  }
}
