<div class="privacy-policy-container">
  <h1 class="title">Politique de Confidentialité de Rentx</h1>

  <p class="intro">Dernière mise à jour : <span>{{ lastUpdated }}</span></p>

  <section class="section">
    <h2 class="subtitle">1. Données collectées</h2>
    <p>Lorsque vous utilisez *Rentx*, nous collectons certaines informations nécessaires pour faire fonctionner l'application, notamment :</p>
    <ul>
      <li>Informations sur le compte utilisateur : telles que votre nom, adresse e-mail et informations de connexion.</li>
      <li>Données liées à la prospection et à la gestion immobilière : telles que les détails des biens immobiliers, les informations sur les locataires, etc.</li>
      <li>Données de synchronisation et d'intégration : si vous utilisez des services tiers comme Google Drive, Sheets ou Gmail, nous collectons les données nécessaires pour fournir ces services internes.</li>
    </ul>
  </section>

  <section class="section">
    <h2 class="subtitle">2. Utilisation des données</h2>
    <p>Les données que nous collectons sont utilisées exclusivement pour faire fonctionner l'application et fournir les services demandés par les utilisateurs, comme suit :</p>
    <ul>
      <li>Gestion des biens et des loyers.</li>
      <li>Envoi de quittances et notifications.</li>
      <li>Synchronisation des documents et tableaux avec le service google drive ou google sheet de l'utilisateur exclusivement.</li>
    </ul>
  </section>

  <section class="section">
    <h2 class="subtitle">3. API et services tiers</h2>
    <p>*Rentx* utilise certaines API de services tiers uniquement pour fournir des services internes, comme l'envoi de quittances de loyer via Gmail ou la synchronisation des fichiers via Google Drive et Sheets.</p>
  </section>

  <section class="section">
    <h2 class="subtitle">4. Partage des données</h2>
    <p>Nous ne vendons ni ne partageons vos données avec des tiers pour des fins commerciales. Les données sont uniquement utilisées pour les services de *Rentx*.</p>
  </section>

  <section class="section">
    <h2 class="subtitle">5. Sécurité des données</h2>
    <p>Nous mettons en œuvre des mesures de sécurité strictes pour protéger vos informations personnelles et assurer leur confidentialité.</p>
  </section>

  <section class="section">
    <h2 class="subtitle">6. Accès et contrôle des données</h2>
    <p>Vous avez le droit de consulter, modifier ou supprimer vos données personnelles directement depuis l'application.</p>
  </section>

  <section class="section">
    <h2 class="subtitle">7. Modifications de la politique de confidentialité</h2>
    <p>Nous nous réservons le droit de mettre à jour cette politique de confidentialité. Les changements seront publiés ici avec la date de mise à jour.</p>
  </section>

  <section class="section">
    <h2 class="subtitle">8. Contact</h2>
    <p>Pour toute question, vous pouvez nous contacter à l'adresse suivante : <a href="mailto:innoestateholdings&#64;gmail.com">contact&#64;rentx.com</a>.</p>
  </section>
</div>
