@let columns = nzColumns();
@let rows = nzRows();
@if(rows){
<nz-table #tableRef
          (nzCurrentPageDataChange)="handleCurrentPageDataChange()"
          [nzData]="rows"
          [nzPageSize]="rowsPerPages()"
          [nzPageIndex]="pageIndex()">
  <thead>
    <tr>
      @for(column of columns; track column; let columnI = $index) {

        @if(column.cell.filter){
          @if(column.cell.sort){
            <th [nzWidth]="column.width"
                [nzSortFn]="column.cell.sort.function"
                [nzSortPriority]="column.cell.sort.priority"
                [nzFilters]="column.cell.filter.list"
                [nzFilterFn]="column.cell.filter.function">
              <ui-dynamic-cell [cell]="column.cell"></ui-dynamic-cell>
            </th>
          }@else {
            <th [nzWidth]="column.width"
                [nzFilters]="column.cell.filter.list"
                [nzFilterFn]="column.cell.filter.function">
              <ui-dynamic-cell [cell]="column.cell"></ui-dynamic-cell>
            </th>
          }
        }@else {
          @if(column.cell.sort){
            <th [nzWidth]="column.width" [nzSortFn]="column.cell.sort.function" [nzSortPriority]="column.cell.sort.priority">
              <ui-dynamic-cell [cell]="column.cell"></ui-dynamic-cell>
            </th>
          }@else {
            <th [nzWidth]="column.width">
              <ui-dynamic-cell [cell]="column.cell"></ui-dynamic-cell>
            </th>
          }
        }

      }
    </tr>
  </thead>
  <tbody>
    @for(nzRow of tableRef.data; let rowI = $index; track nzRow.id){
    <tr>
      @for(cell of nzRow.cells; let colI = $index; track colI) {
      <td>
        <ui-dynamic-cell (onEdit)="edit($event, nzRow, colI)" [cell]="cell"></ui-dynamic-cell>
      </td>
      }
    </tr>
    }
  </tbody>
</nz-table>
<div class="ui-table-footer">
  <div class="left">
    <div class="ui-table-title">{{table().title}}</div>
    @for(command of table().commands; track command.name){
      <ui-icon [icon]="command"></ui-icon>
    }
  </div>
  <div class="right">
    <ui-pagination [(pageIndex)]="pageIndex" [total]="pagesNumber()"></ui-pagination>
  </div>
</div>
}
