@let columns = nzColumns();
<nz-table #table [nzData]="nzRows()" [nzPageSize]="rowsPerPages()" [nzScroll]="{ x: '900px' }">
  <thead>
    <tr>
      @for(column of columns; track column.key; let columnI = $index) {
        @if(column.sort){
          @if(column.filter){
            <th [nzSortFn]="column.sort.fn"
                [nzLeft]="columnI < fixedColumns()?.left"
                [nzRight]="columnI > fixedColumns()?.right"
                [nzWidth]="column.width"
                [nzSortPriority]="column.sort.priority"
                [nzColumnKey]="column.key"
                [nzFilterFn]="column.filterFn || true"
                [nzFilters]="column.filter">
              <ng-container *ngTemplateOutlet="columnRow"></ng-container>
            </th>
          }@else {
            <th [nzSortFn]="column.sort.fn"
                [nzLeft]="columnI < fixedColumns()?.left"
                [nzRight]="columnI > fixedColumns()?.right"
                [nzWidth]="column.width"
                [nzSortPriority]="column.sort.priority"
                [nzColumnKey]="column.key">
              <ng-container *ngTemplateOutlet="columnRow"></ng-container>
            </th>
          }
        }@else {
          @if(column.filter){
            <th [nzColumnKey]="column.key"
                [nzLeft]="columnI < fixedColumns()?.left"
                [nzRight]="columnI > fixedColumns()?.right"
                [nzWidth]="column.width"
                [nzFilterFn]="!!column.filter"
                [nzFilters]="column.filter">
              <ng-container *ngTemplateOutlet="columnRow"></ng-container>
            </th>
          }@else {
            <th [nzWidth]="column.width"
                [nzLeft]="columnI < fixedColumns()?.left"
                [nzRight]="columnI > fixedColumns()?.right">
              <ng-container *ngTemplateOutlet="columnRow"></ng-container>
            </th>
          }
        }

        <ng-template #columnRow>
          <div class="column-header" [class.icon-column]="column.icon">
            @if(column.headDropdown){
              <ui-nested-dropdown [list]="column.headDropdown.list"
                                  [fixedHeadValue]="column.headDropdown.fixedHead"></ui-nested-dropdown>
            }@else {
              <div *ngIf="column.icon" class="icon" nz-icon [nzType]="column.icon!" nzTheme="fill"></div>
              {{ column.label }}
            }
          </div>
        </ng-template>

      }
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let nzRow of table.data; let rowI = index">
      <tr [attr.test-selector]="'ui-table-row-' + rowI">
        <ng-container *ngFor="let cell of nzRow.cells; let colI = index">
          <td
              [nzLeft]="colI < fixedColumns()?.left"
              [nzRight]="colI > fixedColumns()?.right"
              [attr.test-selector]="'ui-table-cell-c' + colI + '-r' + rowI">

            @if(cell === undefined || cell === null){

            }@else if(columns[colI].dropdown){
              <ng-container *ngTemplateOutlet="dropdown"></ng-container>
            }@else if(columns[colI].editable){
              @if(typeof cell === 'string'){
                <ng-container *ngTemplateOutlet="editableString"></ng-container>
              }@else if(typeof cell === 'number'){
                <ng-container *ngTemplateOutlet="editableNumber"></ng-container>
              }@else {
                {{cell}}
              }
            }@else if(isUiItem(cell)){
              <nz-ui-cell-item [item]="cell"></nz-ui-cell-item>
            }@else {
              {{cell}}
            }

            <ng-template #dropdown>
              <nz-ui-cell-nested-dropdown [row]="nzRow"
                (startEdit)="startEdit(colI, rowI)" (edit)="edit($event, nzRow, colI )" (stopEdit)="stopEdit()"
                [column]="columns[colI]" [value]="cell"></nz-ui-cell-nested-dropdown>
            </ng-template>

            <ng-template #editableString>
              <nz-ui-cell-editable-string [row]="nzRow" [value]="cell"
                (startEdit)="startEdit(colI, rowI)" (edit)="edit($event, nzRow, colI )" (stopEdit)="stopEdit()">
              </nz-ui-cell-editable-string>
            </ng-template>

            <ng-template #editableNumber>
              <nz-ui-cell-editable-number [row]="nzRow" [value]="cell"
                (startEdit)="startEdit(colI, rowI)" (edit)="edit($event, nzRow, colI )" (stopEdit)="stopEdit()">
              </nz-ui-cell-editable-number>
            </ng-template>

          </td>
        </ng-container>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
<div class="ui-table-footer">
  <div class="ui-table-title">{{title()}}</div>
  @for(command of commands(); track command.label){
    <div nz-icon [nzType]="command.icon" nzTheme="fill" class="command" (click)="command.command()"></div>
  }
</div>
