@let columns = nzColumns();
<nz-table #table [nzData]="nzRows()">
  <thead>
    <tr>
      @for(column of columns; track column.key; let columnI = $index) {
        @if(column.sort){
          @if(column.filter){
            <th [nzSortFn]="column.sort.fn"
                [nzSortPriority]="column.sort.priority"
                [nzColumnKey]="column.key"
                [nzFilterFn]="column.filterFn || true"
                [nzFilters]="column.filter">{{ column.label}}</th>
          }@else {
            <th [nzSortFn]="column.sort.fn"
                [nzSortPriority]="column.sort.priority"
                [nzColumnKey]="column.key">{{ column.label}}</th>
          }
        }@else {
          @if(column.filter){
            <th [nzColumnKey]="column.key" [nzFilterFn]="!!column.filter" [nzFilters]="column.filter">{{ column.label }}</th>
          }@else {
            <th>{{ column.label }}</th>
          }
        }
      }
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let nzRow of table.data; let rowI = index">
      <tr>
        <ng-container *ngFor="let cell of nzRow.cells; let colI = index">
          <td>

            @if(cell === undefined || cell === null){

            }@else if(columns[colI].dropDownItems){
              <ng-container *ngTemplateOutlet="dropdown"></ng-container>
            }@else if(columns[colI].editable){
              @if(typeof cell === 'string'){
                <ng-container *ngTemplateOutlet="editableString"></ng-container>
              }@else if(typeof cell === 'number'){
                <ng-container *ngTemplateOutlet="editableNumber"></ng-container>
              }@else {
                {{cell}}
              }
            }@else if(isUiItem(cell)){
              <nz-ui-cell-item [item]="cell"></nz-ui-cell-item>
            }@else {
              {{cell}}
            }

            <ng-template #dropdown>
              <nz-ui-cell-nested-dropdown [row]="nzRow"
                (startEdit)="startEdit(colI, rowI)" (edit)="edit($event, nzRow, colI )" (stopEdit)="stopEdit()"
                [column]="columns[colI]" [value]="cell"></nz-ui-cell-nested-dropdown>
            </ng-template>

            <ng-template #editableString>
              <nz-ui-cell-editable-string [row]="nzRow" [value]="cell"
                (startEdit)="startEdit(colI, rowI)" (edit)="edit($event, nzRow, colI )" (stopEdit)="stopEdit()">
              </nz-ui-cell-editable-string>
            </ng-template>

            <ng-template #editableNumber>
              <nz-ui-cell-editable-number [row]="nzRow" [value]="cell"
                (startEdit)="startEdit(colI, rowI)" (edit)="edit($event, nzRow, colI )" (stopEdit)="stopEdit()">
              </nz-ui-cell-editable-number>
            </ng-template>

          </td>
        </ng-container>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
