@if(formGroup){
  <form test-selector="popup-form-body" [formGroup]="formGroup" class="form-container">
    @for(field of fields(); track field.key){
      <div class="field">
        @if(field.dropdownItems && field.dropdownItems.length){
          <label for="name" [class.mandatory]="field.required">{{field.label}}</label>
          <ui-dropdown [list]="field.dropdownItems" [formControlName]="field.key"></ui-dropdown>
        }@else if(field.type === 'signature') {
          <label for="name" [class.mandatory]="field.required">{{field.label}}</label>
          <signature-pad [formControlName]="field.key"></signature-pad>
        }@else {
          <label for="name" [class.mandatory]="field.required">{{field.label}}</label>
          <input [attr.test-selector]="'ui-form-input-' + field.key" [type]="field.type" class="form-control" [class.required]="field.required" [formControlName]="field.key">
        }
      </div>
    }
  </form>
}

