<div class="ai-container">
  <div class="content">
    <div class="ai-prompt-section">
      <ui-ai-prompter
        [aiMessage]="aiMessage"
        [loading]="loading()"
        (prompt)="onPrompt($event)"
      ></ui-ai-prompter>
    </div>
    <div class="investor-profile-section">
      @if (fields(); as profileFields) {
        <div class="fields-container">
          @for (field of profileFields; track field.field) {
            <div class="field-container">
              <div class="field-title">
                {{ field.field_fr }}
              </div>
              <div class="field-value">
                {{ field.value }}
              </div>
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>
