:root[data-theme="default"] {

  // Basic color
  --color-basic-100: #ffffff;
  --color-basic-150: #f2f2f6;
  --color-basic-200: #E5E5EA;
  --color-basic-300: #CFCFD4;
  --color-basic-400: #B1B1B8;
  --color-basic-500: #9B9B9F;
  --color-basic-600: #808080;
  --color-basic-700: #595959;
  --color-basic-800: #373737;
  --color-basic-900: #000000;

  --color-basic-text-100: #ffffff;
  --color-basic-text-150: #f2f2f6;
  --color-basic-text-200: #E5E5EA;
  --color-basic-text-300: #CFCFD4;
  --color-basic-text-400: #B1B1B8;
  --color-basic-text-500: #9B9B9F;
  --color-basic-text-600: #808080;
  --color-basic-text-700: #595959;
  --color-basic-text-800: #373737;
  --color-basic-text-900: #000000;

  // Primary color
  --color-primary-100: #f0f0f9;
  --color-primary-200: #e5bee6;
  --color-primary-300: #ae65ae;
  --color-primary-400: #4d2a61;
  --color-primary-500: #301240;
  --color-primary-600: #280C38;
  --color-primary-700: #200731;
  --color-primary-800: #180322;
  --color-primary-900: #0F0114;

  --color-primary-text-100: #f0f0f9;
  --color-primary-text-200: #e5bee6;
  --color-primary-text-300: #ae65ae;
  --color-primary-text-400: #4d2a61;
  --color-primary-text-500: #301240;
  --color-primary-text-600: #280C38;
  --color-primary-text-700: #200731;
  --color-primary-text-800: #180322;
  --color-primary-text-900: #0F0114;

  --color-secondary-100: #e7e4f6;
  --color-secondary-200: #a7b4d1;
  --color-secondary-300: #8797c4;
  --color-secondary-400: #667d9e;
  --color-secondary-500: #3E536D;
  --color-secondary-600: #2F455D;
  --color-secondary-700: #203852;
  --color-secondary-800: #112745;
  --color-secondary-900: #021638;

  // Tertiary color
  --color-tertiary-100: #D0E3F3;
  --color-tertiary-200: #B0D4EB;
  --color-tertiary-300: #A7C7E7;
  --color-tertiary-400: #8DB9D8;
  --color-tertiary-500: #78A4C6;
  --color-tertiary-600: #5F89A4;
  --color-tertiary-700: #496d83;
  --color-tertiary-800: #34556a;
  --color-tertiary-900: #1d3a4c;

  // Tertiary color
  --color-tertiary-shadow-100: #D0E3F3;
  --color-tertiary-shadow-200: #B0D4EB;
  --color-tertiary-shadow-300: #A7C7E7;
  --color-tertiary-shadow-400: #8DB9D8;
  --color-tertiary-shadow-500: #78A4C6;
  --color-tertiary-shadow-600: #5F89A4;
  --color-tertiary-shadow-700: #496d83;
  --color-tertiary-shadow-800: #34556a;
  --color-tertiary-shadow-900: #1d3a4c;

  // Accent colors
  --color-accent-1: #8F46A0; // Purple with a vibrant accent
  --color-accent-2: #F39C12; // Bright Yellow for an energetic feel

  // Success color (green)
  --color-success-100: #B9F6CA;
  --color-success-200: #7EF7A2;
  --color-success-300: #4CF77A;
  --color-success-400: #2AF752;
  --color-success-500: #00F72A;
  --color-success-600: #00C023;
  --color-success-700: #009C1D;
  --color-success-800: #00761A;
  --color-success-900: #00511A;

  // Error color (red)
  --color-error-100: #FFB1B1;
  --color-error-200: #FF8C8C;
  --color-error-300: #FF6B6B;
  --color-error-400: #FF4A4A;
  --color-error-500: #FF3333;
  --color-error-600: #E60000;
  --color-error-700: #B20000;
  --color-error-800: #7F0000;
  --color-error-900: #4C0000;

  // WIP color (orange)
  --color-wip-100: #FFE5B4;
  --color-wip-200: #FFCC7A;
  --color-wip-300: #FFB84D;
  --color-wip-400: #FFA133;
  --color-wip-500: #FF8F19;
  --color-wip-600: #E67315;
  --color-wip-700: #CC5612;
  --color-wip-800: #B03A10;
  --color-wip-900: #993010;

}