@if(isOnEditMode()){
  @if(dropDownCellsUniqueItem(); as item) {
    <ui-nested-dropdown (onSelect)="editNestedDropdown($event)"
                        (blur)="closeDropdown()"
                        [list]="nzTableList()"
                        [value]="item"
                        [openAtInit]="isOnEditMode()"></ui-nested-dropdown>
  }@else {
    <ui-nested-dropdown (onSelect)="editNestedDropdown($event)"
                        (blur)="closeDropdown()"
                        [list]="nzTableList()"
                        [value]="displayedValue()"
                        [openAtInit]="isOnEditMode()"></ui-nested-dropdown>
  }
}@else {
  @if(dropDownCellsUniqueItem(); as item) {
    <nz-ui-cell-item test-selector="ui-table-editable-value" class="hover-smooth" [item]="item" (click)="startToEdit()"></nz-ui-cell-item>
  }@else {
    <div test-selector="ui-table-editable-value" class="clickable hover-smooth" [class.loading-value]="loadingValue()">
      <ui-label [value]="displayedValue()"></ui-label>
    </div>
  }
}
@if(isEmpty()){
  <div class="empty-cell hover-smooth" (click)="startToEdit()"></div>
}
