<form [formGroup]="formGroup" class="form-group-popup">

  <label for="name">Nom et prénom</label>
  <input type="text" class="form-control" formControlName="name">

  <label for="name">Adresse</label>
  <input type="text" class="form-control" formControlName="street">

  <label for="name">Ville</label>
  <input type="text" class="form-control" formControlName="city">

  <label for="name">Code Postal</label>
  <input type="text" class="form-control" formControlName="zip">

  <label for="name">Signature</label>
  <signature-pad formControlName="signature"></signature-pad>

</form>
<div class="footer">
  <button nz-button nzType="primary" (click)="edit()">éditer</button>
</div>
