@let columns = nzColumns();
@let rows = nzRows();
@if(rows){
<nz-table #tableRef [nzData]="rows">
  <thead>
    <tr>
      @for(column of columns; track column; let columnI = $index) {
      <th [nzWidth]="column.width">
        <ui-dynamic-cell [cell]="column.cell"></ui-dynamic-cell>
      </th>
      }
    </tr>
  </thead>
  <tbody>
    @for(nzRow of tableRef.data; let rowI = $index; track nzRow.id){
    <tr>
      @for(cell of nzRow.cells; let colI = $index; track colI) {
      <td>
        <ui-dynamic-cell (onEdit)="edit($event, nzRow, colI)" [cell]="cell"></ui-dynamic-cell>
      </td>
      }
    </tr>
    }
  </tbody>
</nz-table>
}