<form [formGroup]="form" class="form-group-popup">

  <label for="name">Name:</label>
  <input id="name" formControlName="name" />

  <label for="email">Email:</label>
  <input id="email" formControlName="email" />

  <label for="phone">Phone:</label>
  <input id="phone" formControlName="phone" />

  <label for="agency">Agence:</label>
  <input id="agency" formControlName="agency" />

  <label for="address">Adresse:</label>
  <input id="address" formControlName="address" />

  <label for="address">Code Postal:</label>
  <input id="address" formControlName="zip" />

  <label for="address">Ville:</label>
  <input id="address" formControlName="city" />

</form>
<div class="footer">
  <button nz-button nzType="primary" type="submit" [disabled]="form.invalid" (click)="create()">Create</button>
</div>
