<div class="login-container">
  <nz-card [nzBordered]="false" class="login-card">
    <h2 nz-typography class="login-title">Bienvenue sur rentX</h2>
    <p nz-typography nzType="secondary" class="login-subtitle">
      La gestion de vos bien <span style="text-decoration: underline">vraiment</span> gratuite.
    </p>

    <ui-button
      nz-button
      nzType="primary"
      nzSize="large"
      class="google-button"
      (click)="loginWithGoogle()">
      Continuer avec Google
    </ui-button>
  </nz-card>
</div>
