<div class="login-container">
  <nz-card [nzBordered]="false" class="login-card">
    <h2 nz-typography class="login-title">Se connecter</h2>
    <p nz-typography nzType="secondary" class="login-subtitle">
      <!-- La gestion de vos bien <span style="text-decoration: underline">vraiment</span> gratuite. -->
    </p>

    <ui-button
      [type]="'primary'"
      [icon]="{name: 'google', size: 22, color: 'var(--color-basic-100)'}"
      [text]="'Continuer avec Google'"
      class="google-button"
      (click)="loginWithGoogle()">
    </ui-button>

    <!-- <div class="legal-links">
      <div nz-button nzType="link" routerLink="/policies">Politique de confidentialité</div>
      <div nz-button nzType="link" routerLink="/cdu">Conditions Générales d'Utilisation</div>
    </div> -->

  </nz-card>


</div>
<legal-footer></legal-footer>
