<ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">

  <li class="logo">rentx</li>
  <div class="navigation">
    <li nz-menu-item [routerLink]="['estates']">Mes biens</li>
    <li nz-menu-item [routerLink]="['prospections']">prospection</li>
  </div>
  <li class="right-menu">
    <div id="authenticated_user_avatar_container" nz-dropdown [nzDropdownMenu]="userDropdown" class="user-avatar">
      <img [src]="user()?.picture">
    </div>
  </li>

  <nz-dropdown-menu #userDropdown="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="logout()">se déconnecter</li>
    </ul>
  </nz-dropdown-menu>

</ul>
