<nz-layout class="home-container">
  <nz-content>
    <!-- Hero Section -->
    <div class="hero-section">
      <div class="hero-content">
        <h1 nz-typography>Bienvenue sur RentX</h1>
        <h2 nz-typography>le CRM de l'investisseur immobilier</h2>
        <p nz-typography>
          RentX est une application gratuite et opensource conçue pour optimiser la gestion immobilière et faciliter vos prospections.
          Elle vous permet d'avoir un visuel mensuel sur vos locations et de générer ou d'envoyer en 1 clic vos quittances de loyers.
          Vous pouvez aussi centraliser vos prospection en assignant des status utiles pour vous organiser plus efficacement.
        </p>
        <div class="button-group">
          <button nz-button nzType="primary" nzSize="large" routerLink="/desktop/login">Se connecter</button>
        </div>
      </div>
    </div>

    <!-- Features Section -->
    <div class="features-section">
      <nz-row [nzGutter]="[24, 24]">
        <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" *ngFor="let feature of features">
          <nz-card>
            <img nz-image [nzSrc]="feature.image" [alt]="feature.alt" class="feature-image" />
            <nz-card-meta
              [nzTitle]="feature.title"
              [nzDescription]="feature.description">
            </nz-card-meta>
          </nz-card>
        </nz-col>
      </nz-row>
    </div>
  </nz-content>
</nz-layout>
<legal-footer></legal-footer>