<a #nzTrigger nz-dropdown [nzDropdownMenu]="menu" [nzTrigger]="triggerType()">{{ displayedLabel }}</a>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    @for(item of list(); track item){
      @if(isDropdown(item)){
        <li nz-menu-item ><ui-nested-dropdown [value]="item" triggerType="hover" (onSelect)="clickOnItem($event)" [list]="item.target"></ui-nested-dropdown></li>
      }@else{
        <li nz-menu-item (click)="clickOnItem(item)">{{ item.label }}</li>
      }
    }
  </ul>
</nz-dropdown-menu>
