@if(lodgers().length){

<div nz-dropdown [nzDropdownMenu]="manageLodgers" [nzPlacement]="'bottomCenter'">
  @if(estate().lodger){
  {{estate().lodger?.name}}
  }@else {
  <div class="empty-field create" (click)="createLodger()">
    <div nz-icon nzType="edit"></div>
  </div>
  }
</div>

<nz-dropdown-menu #manageLodgers="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    @if(estate().lodger){
    <li nz-menu-item>
      <div nz-dropdown [nzDropdownMenu]="manageRentReceipts" [nzPlacement]="'topLeft'" class="clickable">gérer les
        quittances</div>
    </li>
    }
    @if(lodgers().length){
    <li nz-menu-item>
      <td nz-dropdown [nzDropdownMenu]="menuLodgers" class="clickable">mettre un locataire</td>
    </li>
    }@else {

    }
  </ul>
</nz-dropdown-menu>

<nz-dropdown-menu #manageRentReceipts="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item (click)="downloadRentReceipt()">télécharger quittance mensuelle</li>
    <li nz-menu-item (click)="senddRentReceipt()">envoyer quittance mensuelle par email</li>
    <li nz-menu-item (click)="downloadCustomizedRentReceipt()">quittance personnalisée</li>
  </ul>
</nz-dropdown-menu>


<nz-dropdown-menu #putLodger="nzDropdownMenu">
  <ul>
    <ng-container *ngFor="let lodger of lodgers()">
      <li nz-menu-item>
        <div class="dropdown-line-content">
          <div style="flex: 1" (click)="setLodger(lodger)">{{lodger.name}}</div>
          <div class="delete" (click)="deleteLodger(lodger)" nz-icon nzType="delete"></div>
        </div>
      </li>
    </ng-container>
    <li nz-menu-item style="flex: 1" class="italic" (click)="setLodger(null)">vacant</li>
    <li nz-menu-item (click)="createLodger()" class="primary">
      <button nz-button nzType="primary">ajouter un locataire</button>
    </li>
  </ul>
</nz-dropdown-menu>

<nz-dropdown-menu #menuLodgers="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <ng-container *ngFor="let lodger of lodgers()">
      <li nz-menu-item>
        <div class="dropdown-line-content">
          <div style="flex: 1" (click)="setLodger(lodger)">{{lodger.name}}</div>
          <div class="delete" (click)="deleteLodger(lodger)" nz-icon nzType="delete"></div>
        </div>
      </li>
    </ng-container>
    <li nz-menu-item style="flex: 1" class="italic" (click)="setLodger(null)">vacant</li>
    <li nz-menu-item (click)="createLodger()" class="primary">
      <button nz-button nzType="primary">ajouter un locataire</button>
    </li>
  </ul>
</nz-dropdown-menu>
}@else{
<div class="empty-field create" (click)="createLodger()">
  <div nz-icon nzType="edit"></div>
</div>
}
