@if(estate().owner){
  <div test-selector="estate-owner-cell" nz-dropdown [nzDropdownMenu]="menuOwners" class="clickable">{{estate().owner?.name}}</div>
}@else {
  @if((owners()).length){
    <td class="clickable rcc">
      <div class="empty-field" nz-dropdown [nzDropdownMenu]="menuOwners"><span nz-icon nzType="edit"
          nzTheme="outline"></span></div>
    </td>
  }@else{
    <div class="empty-field create" (click)="createOwner(estate())">+</div>
  }
}

<nz-dropdown-menu #menuOwners="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <ng-container *ngFor="let owner of owners()">
      <li nz-menu-item>
        <div class="dropdown-line-content">
          <div style="flex: 1" (click)="setOwner(estate(), owner)">{{owner.name}}</div>
          <div nz-dropdown [nzDropdownMenu]="ownerTools" class="tool" nz-icon nzType="edit"></div>
        </div>
      </li>

      <nz-dropdown-menu #ownerTools="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="editOwner(owner)" class="warning">éditer</li>
          <li nz-menu-item (click)="deleteOwner(owner)" class="error">supprimer</li>
        </ul>
      </nz-dropdown-menu>

    </ng-container>
    @if(owners(); as owners){
    @if(owners.length){
    <li nz-menu-item (click)="createOwner(estate())" class="primary">
      <ui-button [text]="'ajouter un propriétaire'" [type]="'primary'"></ui-button>
    </li>
    }@else{
    <li nz-menu-item (click)="createOwner()" class="primary">ajouter un nouveau propriétaire</li>
    }
    }
  </ul>
</nz-dropdown-menu>
