<div class="landing-page">
  <!-- Titre accrocheur -->
  <header class="header">
    <h1>Vous êtes un investisseur immobilier en quête de cash flow ? </h1>
    <h2><span class="highlight">Rentx</span> est là pour vous aider 🚀</h2>
  </header>

  <!-- Section 1 - Les galères des investisseurs et les solutions existantes -->
  <section class="section">
    <h3>Les galères des investisseurs immobiliers et les solutions existantes 🤔 :</h3>
    <p>
      L'immobilier peut être un excellent moyen de générer des revenus, mais entre la recherche de biens rentables, les
      négociations complexes et la paperasse administrative qui ne finit jamais, il y a de quoi s'épuiser. 📑💼
    </p>
    <p>
      Faire appel a des agences immobilières, des plateformes de location ou des services de gestion, chasseur ou autres peut
      peut faire gagner du temps mais c'est souvent au détriment du cash flow et ne garanti pas de bon résultats. 📈
    </p>
    <p>
      Et que dire des solutions existantes ? Des logiciels propriétaires coûteux, des solutions limitées… Et si on
      pouvait tout simplifier et rendre ça accessible à tous ? 💸❌
    </p>
  </section>


  <section class="section-small">
    <div class="section-title">
      <!-- <img class="small-logo" src="assets/images/rentx_icon.png" alt="Rentx Logo" /> -->
      <h3>RentX, la solution GRATUITE et OPEN-SOURCE 💥</h3>
    </div>

    <div class="features">
      <div class="feature feature-small">
        <!-- <input type="checkbox" id="feature1" checked disabled /> -->
        <label for="feature1">
          <h4>Pas de limite de lots</h4>
          <p>Rentx vous permet de gérer vos biens immobiliers gratuitement et de manière ultra-efficace, tout centralisé dans une seule plateforme accessible à tout moment. Fini la paperasse et les tracas administratifs ! 🙌</p>
        </label>
      </div>

      <div class="feature feature-small">
        <!-- <input type="checkbox" id="feature2" checked disabled /> -->
        <label for="feature2">
          <h4>Génération de quittances de loyer en 1 clic</h4>
          <p>Générez des quittances de loyer instantanément et envoyez-les directement depuis <strong>votre propre adresse email</strong>, assurant ainsi une gestion fluide et personnalisée. 📧</p>
        </label>
      </div>

      <div class="feature feature-small">
        <!-- <input type="checkbox" id="feature3" checked disabled /> -->
        <label for="feature3">
          <h4>Synchronisation avec vos tableaux Excel</h4>
          <p>Gardez un contrôle total sur vos données et mettez-les à jour sans effort, tout en étant sûr que vos informations restent privées et entre vos mains. 📊</p>
        </label>
      </div>

      <div class="feature feature-small">
        <!-- <input type="checkbox" id="feature4" checked disabled /> -->
        <label for="feature4">
          <h4>Solution open-source</h4>
          <p>Rentx est open-source, vous pouvez adapter le logiciel à vos besoins et profiter des améliorations continues apportées par la communauté. 💻</p>
        </label>
      </div>
    </div>

    <p><strong>Notre promesse :</strong> Gagner jusqu'à 30% de temps dans l'administratif et diminuer la charge mentale de 25% dans la gestion de votre parc immobilier. 🚀</p>
  </section>

  <!-- Section 3 - L'ère de l'IA -->
  <section class="section">
    <h3>L'ère de l'IA au service de votre rentabilité 🤖💼</h3>
    <p>
      En plus de ça nous développons autour de rentx des agents IA qui ont pour objectif de faire tout le travail lourd
      à votre place : de la prospection à la gestion des loyers, Rentx vous fera gagner du temps et vous aidera à
      maximiser vos profits. 💸💡
    </p>
    <img class="funny-image" src="assets/images/rentx_ia.webp" alt="Agent IA" />
    <br>
    <h3>Ce que notre agent PROSPECTOR fait déjà 🔍</h3>

    <div class="feature">
      <h4>Centralisation des biens avec ajout en 1 click 🖱️</h4>
      <p>
        Vous pouvez centraliser des annonces depuis des sites connus comme <strong>Le Bon Coin</strong>, <strong>Se
          Loger</strong>, etc., tout comme depuis des petits sites d'agences locales ou des plateformes spécialisées
        comme <strong>Djinka</strong>. Vous ne perdez plus de temps à chercher sur plusieurs sites, tout est centralisé
        dans Rentx.
      </p>
    </div>

    <div class="feature">
      <h4>Communication avec votre Agent IA 🧠</h4>
      <p>
        <strong>Prospector</strong> est basé sur les plus puissants modèles de langage. Vous povez communiquer avec lui
        pour
        donner vos objectifs et moyen de procéder. Ces informations lui permettront d'évoluer et d'évoluer avec vous et
        d'être toujours plus précis et perfomrant dans les différentes tâches qu'il pourra effectuer pour vous.
      </p>
    </div>

    <div class="feature">
      <h4>Génération d'offres automatiques en PDF 📄</h4>
      <p>
        En un clic, *Prospector* génère des offres de manière automatique, adaptées à votre profil
        d'investisseur et au bien en question. Vous pouvez envoyer des offres rapidement, sans perdre de temps à rédiger
        manuellement chaque proposition. Cela vous permet de rester réactif et compétitif dans le marché immobilier.
      </p>
    </div>

  </section>

  <!-- Section 5 - Participez à l'ALPHA -->
  <section class="section">
    <h3>Participez à l'ALPHA 🚀</h3>
    <p>
      Rejoignez les pionniers de Rentx et obtenez des accès exclusifs ! Proposez vos idées, participez au développement
      du produit et bénéficiez d’un <strong>accès gratuit d’un an à tous les agents IA</strong> dès leur sortie cet été
      ! 🎉
    </p>
  </section>

  <!-- Call to Action -->
  <section class="cta">
    <h3 style="color: black;">Devenez un alpha testeur dès maintenant ! 🏅</h3>
    <form (submit)="submitForm()" class="cta-form">
      <input type="email" [(ngModel)]="email" name="email" placeholder="Entrez votre email" required />
      <button type="submit" [disabled]="isSubmitting">Je veux participer à l'Alpha 🚀</button>
    </form>
  </section>
</div>
