<form [formGroup]="form" class="form-group-popup">

  <label for="city">Ville:</label>
  <input id="city" formControlName="city" />

  <label for="zip">Code Postal:</label>
  <input id="zip" formControlName="zip" />

  <label for="address">Addresse:</label>
  <input id="address" formControlName="address" />

  <label for="link">Link:</label>
  <input id="link" formControlName="link" />

  <label for="price">Price:</label>
  <input id="price" type="number" formControlName="price" />

  <label for="resume">Description:</label>
  <textarea id="resume" type="text" formControlName="resume" ></textarea>

</form>
<div class="footer">
  <ui-button [text]="'créer'" [type]="'primary'" (click)="create()"></ui-button>
</div>
