:host {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-basic-100);
  border-radius: var(--radius-large);
  box-shadow: var(--shadow);
  padding: 16px;
  opacity: 0;
  
  .action {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  .action:hover {
    .icon {
      color: var(--color-secondary-700);
    }
  }

  .icon {
    color: var(--color-secondary-500);
    font-size: 30px;
  }
}

.card-content {
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}