@if(formGroup && fields() ){
<form [formGroup]="formGroup">

  @for (field of fields(); track field) {
    <label for="name">{{field}}</label>
    @if(field === 'signature' ){
      <div class="signature-container">
        <signature-pad [formControlName]="field"></signature-pad>
      </div>
    }@else{
      <input type="text" class="form-control" [formControlName]="field">
    }
  }

</form>
}

<div class="footer">
  <button nz-button nzType="primary" (click)="complete()">compléter</button>
</div>
