@if(formGroup && fields() ){
<form [formGroup]="formGroup" class="form-group-popup">

  @for (field of fields(); track field) {
    <label for="name">{{LABELS[field]}}</label>
    @if(field === 'signature' ){
      <div class="signature-container">
        <signature-pad [formControlName]="field"></signature-pad>
      </div>
    }@else{
      <input type="text" class="form-control" [formControlName]="field">
    }
  }

</form>
}

<div class="footer">
  <ux-button [text]="'compléter'" [type]="'primary'" (click)="complete()"></ux-button>
  <!-- <button nz-button nzType="primary" (click)="complete()">compléter</button> -->
</div>
