:host {
  transition: width 0.3s ease;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-basic-100);
  padding: 16px;
  border-radius: var(--radius-large);
  box-shadow: var(--shadow);
}

.card-content {
  transition: width 0.3s ease;
}


.navigator {
  cursor: pointer;
  color: var(--color-primary-text-500);
}

.active {
  color: var(--color-primary-text-100);
  background-color: var(--color-primary-500);
  border-radius: var(--radius-large);
  padding: 8px 16px;
}

.active:hover {
  cursor: auto;
  user-select: none;
}
