<form [formGroup]="formGroup" class="form-group-popup">

  <div class="row">
    <div for="name">Nom</div>
    <input type="text" class="form-control" formControlName="displayName">
  </div>

  <div class="row">
    <div for="name">Agence</div>
    <input type="text" class="form-control" formControlName="agency">
  </div>

  <div class="row">
    <div for="name">Adresse</div>
    <input type="text" class="form-control" formControlName="address">
  </div>

  <div class="row">
    <div for="name">Code Postal</div>
    <input type="text" class="form-control" formControlName="zip">
  </div>

  <div class="row">
    <div for="name">Ville</div>
    <input type="text" class="form-control" formControlName="city">
  </div>

  <div class="row">
    <div for="name">Email</div>
    <input type="text" class="form-control" formControlName="email">
  </div>

  <div class="row">
    <div for="name">Téléphone</div>
    <input type="text" class="form-control" formControlName="phone">
  </div>

</form>
