<div class="add-estate-button-container">
  <ui-button [text]="'+ bien'" [type]="'primary'" (click)="openCreateEstatePopup()"></ui-button>
  <ui-button [text]="'propriétaire'" [type]="'primary'" nz-dropdown [nzDropdownMenu]="owner"></ui-button>
  <ui-button [text]="'locataire'" [type]="'primary'" nz-dropdown [nzDropdownMenu]="lodger"></ui-button>
</div>

<nz-dropdown-menu #owner nz-selectable>
  <ul nz-menu>
    <li nz-menu-item (click)="openCreateOwner()">créer un nouveau propriétaire</li>
    <li nz-menu-item nz-dropdown [nzDropdownMenu]="editOwner">éditer un propriétaire</li>
    <li nz-menu-item nz-dropdown [nzDropdownMenu]="removeOwner" >supprimer un propriétaire</li>
  </ul>
</nz-dropdown-menu>

<nz-dropdown-menu #editOwner>
  <ul nz-menu>
    @for(owner of owners(); track owner){
      <li nz-menu-item (click)="openEditOwner(owner)">{{owner.name}}</li>
    }
  </ul>
</nz-dropdown-menu>

<nz-dropdown-menu #removeOwner>
  <ul nz-menu>
    @for(owner of owners(); track owner){
      <li nz-menu-item (click)="deleteOwner(owner)">{{owner.name}}</li>
    }
  </ul>
</nz-dropdown-menu>

<nz-dropdown-menu #lodger nz-selectable>
  <ul nz-menu>
    <li nz-menu-item (click)="openCreateLodger()">créer un nouveau locataire</li>
    <li nz-menu-item nz-dropdown [nzDropdownMenu]="removeLodger">supprimer un locataire</li>
  </ul>
</nz-dropdown-menu>

<nz-dropdown-menu #removeLodger>
  <ul nz-menu>
    @for(lodger of lodgers(); track lodger){
      <li nz-menu-item (click)="deleteLodger(lodger)">{{lodger.name}}</li>
    }
  </ul>
</nz-dropdown-menu>

<div class="estates-content">
  <ul nz-menu nzMode="inline">
    <ng-container *ngFor="let estate of estates()">
      <li nz-submenu [nzTitle]="estate.plot_address!" nzIcon="home" [ngClass]="{'paid' : estate.actualMonthPaid }">
        @if(estate.rentReceiptSentByEmail){
          <div class="sent" nz-icon nzType="mail"></div>
        }
        <ul>
          <li nz-menu-item><owner-item [estate]="estate"></owner-item></li>
          <li nz-menu-item><lodger-item [estate]="estate"></lodger-item></li>

          <li nz-menu-item>
            <div class="row cell">
              <div class="title">rent:</div>
              <div class="editable-cell-number clickable" (click)="startEdit(estate.id! + 'rent', editableRentInput)">
                <div [hidden]="editId === estate.id + 'rent'">{{estate.rent}}</div>
                <input nz-demo-input-number-basic #editableRentInput [value]="estate.rent"
                  [hidden]="editId !== estate.id + 'rent'" type="number" (blur)="stopEdit()"
                  (change)="edit(estate, 'rent', editableRentInput)" />
              </div>
            </div>
          </li>

          <li nz-menu-item>
            <div class="row cell">
              <div class="title">charges:</div>
              <div class="editable-cell-number clickable"
                (click)="startEdit(estate.id! + 'charges', editableChargesInput)">
                <div [hidden]="editId === estate.id + 'charges'">{{estate.charges}}</div>
                <input nz-demo-input-number-basic #editableChargesInput [value]="estate.charges"
                  [hidden]="editId !== estate.id + 'charges'" type="number" (blur)="stopEdit()"
                  (change)="edit(estate, 'charges', editableChargesInput)" />
              </div>
            </div>
          </li>

          <li nz-menu-item>
            <div class="row footer-buttons">
              <ui-button [text]="'quittances'" [type]="'primary'" (click)="openRentReceipt(estate)"></ui-button>
              <ui-button [text]="'supprimer'" [type]="'danger'" (click)="deleteEstate(estate)"></ui-button>
            </div>
          </li>

        </ul>
      </li>
    </ng-container>
  </ul>
</div>
