<div class="add-estate-button-container">
  <button nz-button nzType="primary" (click)="openCreateEstatePopup()">+ bien</button>
  <button nz-button nzType="primary" (click)="openCreateOwner()">+ propriétaire</button>
  <button nz-button nzType="primary" (click)="openCreateLodger()">+ locataire</button>
</div>

<div class="estates-content">
  <ul nz-menu nzMode="inline">
    <ng-container *ngFor="let estate of estates()">
      <li nz-submenu [nzTitle]="estate.address!" nzIcon="home">
        <ul>
          <li nz-menu-item><owner-item [estate]="estate"></owner-item></li>
          <li nz-menu-item>Propriétaire: {{estate.owner?.name??''}}</li>
          <li nz-menu-item>Locataire: {{estate.lodger?.name??''}}</li>
          <li nz-menu-item>Loyer: {{estate.rent??''}}</li>
          <li nz-menu-item>Charges: {{estate.charges??''}}</li>

        </ul>
      </li>
    </ng-container>
  </ul>
</div>
