<div class="add-estate-button-container">
  <button nz-button nzType="primary" (click)="openCreateEstatePopup()">+ bien</button>
  <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="owner">propriétaire</button>
  <button nz-button nzType="primary" (click)="openCreateLodger()">+ locataire</button>
</div>

<nz-dropdown-menu #owner nz-selectable>
  <ul nz-menu>
    <li nz-menu-item (click)="openCreateOwner()">créer</li>
    <li nz-menu-item nz-dropdown [nzDropdownMenu]="editOwner">éditer</li>
    <li nz-menu-item nz-dropdown [nzDropdownMenu]="removeOwner" >supprimer</li>
  </ul>
</nz-dropdown-menu>

<nz-dropdown-menu #editOwner>
  <ul nz-menu>
    @for(owner of owners(); track owner){
      <li nz-menu-item (click)="openEditOwner(owner)">{{owner.name}}</li>
    }
  </ul>
</nz-dropdown-menu>

<nz-dropdown-menu #removeOwner>
  <ul nz-menu>
    @for(owner of owners(); track owner){
      <li nz-menu-item (click)="deleteOwner(owner)">{{owner.name}}</li>
    }
  </ul>
</nz-dropdown-menu>

<div class="estates-content">
  <ul nz-menu nzMode="inline">
    <ng-container *ngFor="let estate of estates()">
      <li nz-submenu [nzTitle]="estate.plot_address!" nzIcon="home">
        <ul>
          <li nz-menu-item><owner-item [estate]="estate"></owner-item></li>
          <li nz-menu-item><lodger-item [estate]="estate"></lodger-item></li>

          <li nz-menu-item>
            <div class="row cell">
              <div class="title">rent:</div>
              <div class="editable-cell-number clickable" (click)="startEdit(estate.id! + 'rent', editableRentInput)">
                <div [hidden]="editId === estate.id + 'rent'">{{estate.rent}}</div>
                <input nz-demo-input-number-basic #editableRentInput [value]="estate.rent"
                  [hidden]="editId !== estate.id + 'rent'" type="number" (blur)="stopEdit()"
                  (change)="edit(estate, 'rent', editableRentInput)" />
              </div>
            </div>
          </li>

          <li nz-menu-item>
            <div class="row cell">
              <div class="title">charges:</div>
              <div class="editable-cell-number clickable"
                (click)="startEdit(estate.id! + 'charges', editableChargesInput)">
                <div [hidden]="editId === estate.id + 'charges'">{{estate.charges}}</div>
                <input nz-demo-input-number-basic #editableChargesInput [value]="estate.charges"
                  [hidden]="editId !== estate.id + 'charges'" type="number" (blur)="stopEdit()"
                  (change)="edit(estate, 'charges', editableChargesInput)" />
              </div>
            </div>
          </li>

          <li nz-menu-item>
            <div class="row footer-buttons">
              <button nz-button nzType="primary" (click)="openRentReceipt(estate)">quittances</button>
              <button nz-button nzType="primary" nzDanger (click)="deleteEstate(estate)">supprimer</button>
            </div>
          </li>

        </ul>
      </li>
    </ng-container>
  </ul>
</div>
