<div class="card-content">
    <div class="offer-header">
        <app-offer-icons [offers]="prospectionOffers()" [(selected)]="selectedOffer"></app-offer-icons>
        <ui-dropdown (select)="selectOwner($event)" placeHolder="propriétaire" [list]="ownersDropdown()?.list??[]"></ui-dropdown>
        <h2 lang="fr">Offre</h2>
    </div>
    <div class="editor-container">
        <quill-editor (onContentChanged)="editorContentUpdated($event)" [(ngModel)]="editorContent" [modules]="quillConfig"></quill-editor>
    </div>
    <div class="export-buttons">
        <ui-button (click)="downloadPdf()" [text]="'télécharger'"></ui-button>
        <!-- <button nz-button nzType="default" (click)="saveOffer()">Export Markdown</button> -->
    </div>
</div>
