:host {
  width: 900px;
  height: 100%;
  background-color: var(--color-basic-100);
  border-radius: var(--radius-large);
}

.card-content {
  padding: 1.5rem;

  .offer-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;

    h2 {
      margin: 0;
    }
  }

  h2 {
    margin-bottom: 20px;
  }

  .editor-container {
    margin-bottom: 1.5rem;
    border: 1px solid #d9d9d9;
    border-radius: 4px;

    quill-editor {
      display: block;

      ::ng-deep .ql-container {
        min-height: 200px;
      }
    }
  }

  .export-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 20px;
  }
}