<div class="card-content">
    <div class="offer-header">
        <app-offer-icons [offers]="prospectionOffers()" [(selected)]="selectedOffer"></app-offer-icons>
        <ui-dropdown (select)="selectOwner($event)" placeHolder="propriétaire" [list]="ownersDropdown()?.list??[]"></ui-dropdown>
        <h2 lang="fr">Offre</h2>
    </div>
    <div class="editor-container">
        <quill-editor (onContentChanged)="editorContentUpdated($event)" [(ngModel)]="editorContent" [modules]="quillConfig"></quill-editor>
    </div>
    <div class="export-buttons">
        <ui-button (click)="downloadPdf()" [icon]="{ name: 'download-file', color: 'var(--color-basic-100)'}" [text]="'télécharger'"></ui-button>
        <ui-button (click)="sendPdfByEmail()" [icon]="{ name: 'send', color: 'var(--color-basic-100)'}" [text]="'envoyer'"></ui-button>
    </div>
</div>
