@if(isOnEditMode()){
  @if(dropDownCellsUniqueItem(); as item) {
    <ui-nested-dropdown (onSelect)="editNestedDropdown($event)"
                        (blur)="closeDropdown()"
                        [list]="nzTableList()"
                        [value]="item"
                        [openAtInit]="isOnEditMode()"></ui-nested-dropdown>
  }@else {
    <ui-nested-dropdown (onSelect)="editNestedDropdown($event)"
                        (blur)="closeDropdown()"
                        [list]="nzTableList()"
                        [value]="displayedValue()"
                        [openAtInit]="isOnEditMode()"></ui-nested-dropdown>
  }
}@else {
  @if(dropDownCellsUniqueItem(); as item) {
    <nz-ui-cell-item test-selector="ui-table-editable-value" [item]="item" (click)="startToEdit()"></nz-ui-cell-item>
  }@else {
    <div test-selector="ui-table-editable-value" class="clickable" [class.loading-value]="loadingValue()">
        @if(displayedValue()?.icon){
          <div class="icon" nz-icon [nzType]="displayedValue().icon" nzTheme="fill"></div>
        }
        {{ displayedValue()?.label }}
    </div>
  }
}
@if(isEmpty()){
  <div class="empty-cell" (click)="startToEdit()"></div>
}
