:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 1rem;
  position: relative;

  &.colored {
    display: inline-block !important;
    width: auto;
    border-radius: 30px;
    padding: 0 10px;
    color: var(--color-basic-100) !important;

    .icon {
      color: var(--color-basic-100) !important;
    }

  }
}

.icon {
  margin-right: 4px;
}

.clickable {
  min-width: 10px;
  width: 100%;
  min-height: 1rem;
  height: 100%;
  cursor: pointer;
}

.empty-cell {
  position: absolute;
  left: 0px;
  width: 80px;
  max-width: 100%;
  min-height: 1rem;
  height: 100%;
  border-radius: 30px;
  background-color: var(--color-tertiary-100) !important;
  pointer-events: none;
}