<div class="table-component">
  <div class="header">
    <ui-button [testSelector]="'navigate-estate-page-button'" [text]="'Biens'" [routerLink]="'estates'"></ui-button>
    <ui-button [testSelector]="'navigate-owner-page-button'" [text]="'Propriétaires'" [routerLink]="'owners'"></ui-button>
    <ui-button [testSelector]="'add-estate-main-button'" [text]="'Ajouter un bien'" [type]="'primary'" (click)="openCreateEstatePopup()"></ui-button>
    <ui-button [testSelector]="'add-owner-main-button'" [text]="'Ajouter un Propriétaire'" [type]="'primary'" (click)="openCreateOwnerPopup()"></ui-button>
    <!-- <button nz-button nzType="default" (click)="synchronizeGoogleSheet()">synchroniser google sheet</button> -->
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
